---
import {Image} from 'astro:assets';
import Proyecto1 from '../assets/projects/proyecto1.webp';
import Laravel from '../assets/icons/Laravel.astro';
import Tailwind from '../assets/icons/Tailwind.astro';
import MySQL from '../assets/icons/Mysql.astro';
import GitHubIcon from '../assets/icons/GitHub.astro';
import ProjectLink from './ProjectLink.astro';

const TAGS = {
	LARAVEL: {
		name: 'Laravel',
		color: '#FF2D20',
		icon: Laravel,
	},

	TAILWIND: {
		name: 'Tailwind',
		color: '#38BDF8',
		icon: Tailwind,
	},

	MYSQL: {
		name: 'MySQL',
		color: '#00618A',
		icon: MySQL,
	},
};

const PROJECTS = [
	{
		title: 'Sistema de Gestión de Incapacidades Laborales',
		description:
			'Plataforma web que simplifica la gestión de incapacidades laborales, automatizando los procesos administrativos del área de recursos humanos para que las empresas ahorren tiempo y reduzcan errores.',
		github: 'https://github.com/smartinezhe/sistema-incapacidades',
		image: Proyecto1,
		tags: [TAGS.LARAVEL, TAGS.TAILWIND, TAGS.MYSQL],
	},
];
---

<div class="flex flex-col gap-16">
	{
		PROJECTS.map(({title, description, image, tags, github}) => (
			<article class="flex flex-col md:flex-row items-center gap-8 rounded-2xl border border-white/20 bg-white/3 p-6">
				<div class="flex w-full md:w-1/2 items-center justify-center">
					<Image
						src={image}
						alt={title}
						class="aspect-video w-full rounded-xl object-cover"
					/>
				</div>

				<div class="flex flex-col gap-6 w-full md:w-1/2 md:max-w-lg">
					<div class="space-y-4">
						<h3 class="text-2xl font-semibold text-white">{title}</h3>

						<ul class="flex flex-wrap gap-2">
							{tags.map((tag) => (
								<li>
									<span class="flex items-center gap-2 rounded-full bg-gray-950 px-2 py-1 text-xs opacity-80">
										<tag.icon class="size-4" style={`color: ${tag.color}`} />

										<span class="text-white">{tag.name}</span>
									</span>
								</li>
							))}
						</ul>

						<p class="text-gray-200 opacity-80 leading-7">{description}</p>
					</div>

					<footer>
						{github && (
							<ProjectLink href={github}>
								<GitHubIcon class="size-5" />
								Ver Proyecto
							</ProjectLink>
						)}
					</footer>
				</div>
			</article>
		))
	}
</div>
