---
import {Image} from 'astro:assets';
import Proyecto1 from '../assets/projects/proyecto1.webp';
import Laravel from '../assets/icons/Laravel.astro';
import Tailwind from '../assets/icons/Tailwind.astro';
import MySQL from '../assets/icons/Mysql.astro';
import GitHubIcon from '../assets/icons/GitHub.astro';
import LinkButton from '../components/LinkButton.astro';

const TAGS = {
	LARAVEL: {
		name: 'Laravel',
		color: '#FF2D20',
		icon: Laravel,
	},

	TAILWIND: {
		name: 'Tailwind',
		color: '#38BDF8',
		icon: Tailwind,
	},

	MYSQL: {
		name: 'MySQL',
		color: '#00618A',
		icon: MySQL,
	},
};

const PROJECTS = [
	{
		title: 'Sistema de Gestión de Incapacidades Laborales',
		description:
			'Plataforma web que simplifica la gestión de incapacidades laborales, automatizando los procesos administrativos del área de recursos humanos para que las empresas ahorren tiempo y reduzcan errores.',
		github: 'https://github.com/smartinezhe/sistema-incapacidades',
		image: Proyecto1,
		tags: [TAGS.LARAVEL, TAGS.TAILWIND, TAGS.MYSQL],
	},
];
---

<div class="flex flex-col gap-y-16">
	{
		PROJECTS.map(({title, description, image, tags, github}) => (
			<article class="flex flex-col md:flex-row items-center space-y-8 md:space-y-0 md:space-x-8 rounded-2xl bg-white/3 border border-white/20 p-6">
				<div class="w-full md:w-1/2">
					<div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 overflow-visible rounded-xl sm:rounded-xl lg:border lg:border-gray-800">
						<Image
							src={image}
							alt={`Sistema de Gestión de Incapacidades Laborales ${image}`}
							class="w-full h-56 sm:h-full object-cover rounded-xl"
						/>
					</div>
				</div>
				<div class="w-full md:w-1/2 md:max-w-lg">
					<h3 class="text-white text-2xl font-semibold mb-2">{title}</h3>
					<div class="flex flex-wrap mt-2">
						<ul class="flex flex-row gap-x-2 mb-3">
							{tags.map((tag) => (
								<li>
									<span class="flex gap-x-2 items-center rounded-full text-xs py-1 px-2 bg-gray-950 opacity-80">
										<tag.icon class="size-4" style={`color: ${tag.color}`} />
										<span class="text-white">{tag.name}</span>
									</span>
								</li>
							))}
						</ul>
						<div class="mt-2">
							<p class="text-gray-200 opacity-80">{description}</p>
						</div>
						<footer class="flex items-end justify-start mt-4 gap-x-4">
							{github && (
								<LinkButton href={github}>
									<GitHubIcon class="size-6" />
									Ver Proyecto
								</LinkButton>
							)}
						</footer>
					</div>
				</div>
			</article>
		))
	}
</div>
